.header:hover{
    box-shadow:0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.Contact:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.EDUCATION:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.Skills:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.Project:hover{
    box-shadow: 0 0 20px 0px rgba(19, 19, 19, 0.89);
}
.Achievement:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.Certificates:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.ExtraCurricularActivities:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.Language:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.hobbies:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}
.family:hover{
    box-shadow: 0 0 20px 0px rgba(19, 18, 18, 0.89);
}